.main{
    width: 980px;
    height: 455px;
    margin:  10px 0 0 220px;
}
.focus{
    position: relative;
    width: 720px;
    height: 455px;
    background-color: purple;
}
.arrow_l,
.arrow_r{
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    line-height: 40px;
    font-family: 'icomoon';
    font-size: 18px;
    color: #fff;
}
.arrow_r{
    right: 0;
}
.circle{
    position: absolute;
    left: 50px;
    bottom: 50px;
}
.circle li{
    float: left;
    margin: 0 3px;
    width: 8px;
    height: 8px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    cursor: pointer;
}
.current{
    background-color: #fff;
}
.newsflash{
    width: 250px;
    height: 455px;
}
.news{
    height: 163px;
    border: 1px solid #ccc;
}
.news_hd{
    height: 32px;
    border-bottom: 1px dotted #ccc;
    padding: 0 15px;
    font-size: 14px;
    line-height: 32px; 
}
.news_hd a{
    float: right;
    font-size: 12px;
    font-family: 'icomoon';
}
.news_bd{
    padding: 10px 0 0 15px;
  
}
.news_bd li{
    height: 23px;
}
.liftservice{
    height: 208px;
    background-color: purple;
    border: 1px solid #ccc;
    border-top: none;
}
.bargain{
    margin-top: 5px;
    height: 75px;
}