.w1200{
   width: 1200px;
   margin: auto;
}
.header{
    height: 82px;
    border-bottom: 2px solid #c81623;
}
.logo{
    /* margin-top: 15px; */
    padding-top: 15px;
}
.registerarea{
    height: 520px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.registerarea h3{
    height: 40px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    line-height: 40px;
    padding: 0 10px;
    font-weight: 400;
    font-size: 18px;
}
.registerarea h3 em{
    float: right;
    font-size: 14px;
}
.registerarea a{
    color: #c81623;
}
.reg-form ul{
    width: 600px;
    height: 400px;
    margin: 40px auto 0;
    /* background-color: pink; */
}
.reg-form li{
    margin-bottom: 15px;
}
.reg-form label{
    display: inline-block;
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: right;
}
.inp{
    width: 238px;
    height: 34px;
    border: 1px solid #ccc;
    margin: 0 15px;
}
.error {
    color: #df3033;
}
.error-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/error.png);
    vertical-align: middle;
    margin-bottom: -2px
}
.success{
    color: #40b83f;
}
.success-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/success.png);
    vertical-align: middle;
    margin-bottom: -2px
}
.safe{
    padding-left: 173px;
    color: #b2b2b2;
}
.safe em{
    padding: 0 13px;
    color: #fff;
}
.ruo{
    background-color: #de1111;
}
.zhong {
    background-color: #40b83f;
}
.qiang {
    background-color: #f79110;
}
.agree{
    padding-top: 20px;
    padding-left: 120px;
}
.agree input{
    margin-right: 5px;
    vertical-align: middle;
}
.agree a{
    color: #1ba1e6;;
}
.over{
    width: 200px;
    height: 34px;
    background-color: #c81623;
    margin: 30px 0 0 130px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.mod_copyright{
    text-align: center;
}
.mod_copyright_links{
    margin: 20px 0 15px 0;
}
.mod_copyright_span{
    margin: 0 6px;
}
.mod_copyright_info{
    line-height: 18px;
}